body{
    overflow: hidden;
    background-color: #35618e;
    margin: auto;
    padding-left: 50px;
}
.img1{
    float: right;
    margin-right: 50px;
}
.contenar{
    display: flex;
    justify-content: space-between;
}
.left{
    
    background-color: #35618E;
    width: 550px;
    height: 620px;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 0 10px #0a0a0a3b ;
    position: relative;
    left: 100px;
    top: 150px;
}
h2{text-align: right;
color: #ECB73E;}
h3{text-align: right;
color: #ECB73E;}
input{ width: 550px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px #ECB73E;
    float: right;
    text-align: right;
}
.img2{
    position: relative;
    width: 28px;
    top: -36px;
    left: 10px;
    height: 32px;
}
.img3{
    position: relative;
    width: 28px;
    top: 40px;
    left: -20px;
    height: 32px;
}
button{
    width: 550px;
    height: 40px;
    background-color: #ECB73E;
    border-radius: 10px;
    border: #ECB73E;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
button:hover{
    transform: skewy(1deg);
    transition: ease-out 1s;
    box-shadow: 10px 10px 10px black;
}
.right{
    margin-top: 250px;
}